<head>
    <link href="~/Content/Admin/Adminstyle.css" rel="stylesheet" />
</head>
<body>
    @*navbar*@
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-custom">
        <div class="container">
            <h2 class="icon">Libra</h2>
            @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li style="margin-left:810px">@Html.ActionLink("Home", "Adminhome", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    @*navbar end*@

    <div class="amain"></div>
    <div class="admin-main">

        @model IEnumerable<library.Models.BookModel>

        @*<p>
                @Html.ActionLink("Create New", "BookCreate","Admin")
            </p>*@
        <h1 class="admin-subtext">Book Management</h1>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfBooks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfBooks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.ActionLink("Create", "BookCreate", "Admin", new { area = "" }, new { @class = "btn btn-primary request-btn" })
                        @Html.ActionLink("Edit", "BookEdit", "Admin", new { id = item.BookId }, new { @class = "btn btn-primary request-btn" }) |
                        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                        @Html.ActionLink(
                          "Delete", "BookDelete", new { id = item.BookId },new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you want to delete?');" }
)


                    </td>
                </tr>
            }

        </table>
    </div>
    @*footer*@
    <footer>
        <div class="admin-footer">
            <p style="text-align:center;font-weight:700">&copy; @DateTime.Now.Year - All right reserved</p>
        </div>
    </footer>
</body>

