
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Contact/contact.css" rel="stylesheet" />
    <link href="~/Content/Home/Nav.css" rel="stylesheet" />
</head>
<body>
    @{
        ViewBag.Title = "Contact";
    }
    @*navbar section*@
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-custom">
        <div class="container">
            <h2 class="icon">Libra</h2>
            @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li style="margin-left:780px">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Books", "Booklist", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    @*navbar end*@
<div>
    <div class="contact-main"> </div>
    <h1 class="contact-text">Contact us</h1>
    @model library.Models.ContactModel

  
        <div style="display:flex">
            <div>
                <h3 style="padding:18px">GET IN TOUCH WITH US</h3>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
            <form class="contact-form">
                <div class="form-row">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Your Name" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Your Email" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-row">
                    @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", placeholder = "Subject" })
                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                </div>

                <div class="form-row">
                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = 5, placeholder = "Message" })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>


                <button type="submit" class="contact-button">Send Message</button>
            </form>
                }
                </div>
            <div class="contact-section2">
                <div style="display:flex;gap:15px">
                    <img src="~/Content/Contact/location.jpg" style="width:35px;height:30px;" />
                    <h6>Our Address:</h6>
                    <p>Libra Library, 305 University Building,Kochi,Ernakulam</p>

                </div>
                <div style="display:flex;gap:15px">
                    <img src="~/Content/Contact/email.jpg" style="width:35px;height:30px;" />
                    <h6>Email address:</h6>
                    <p>libralibrary@gmail.com</p>
                </div>
                <div style="display:flex;gap:15px">
                    <img src="~/Content/Contact/phone.jpg" style="width:35px;height:30px;" />
                    <h6>Phone number:</h6>
                    <p>+91 9999999999</p>
                </div>
            </div>
            <div>

            </div>
        </div>
    </div>
    @*footer section*@
    <footer>
        <div style="display:flex">
            <div class="footer-section1">
                <h2 class="ficon">Libra</h2>
                <p>The library is a quiet haven where we can escape the hustle and bustle of everyday life.</p>
                <div style="margin-left:30px">
                    <img src="~/Content/Home/fb.png" style="width:30px;height:30px;margin-right:15px;" />
                    <img src="~/Content/Home/insta.jpg" style="width: 30px; height: 30px; margin-right: 15px;" />
                    <img src="~/Content/Home/link.png" style="width:30px;height:30px" />
                </div>
            </div>
            <div class="footer-section2">
                <h3 style="margin-bottom:10px;">Contact Us</h3>
                <h6>305,University building,Kochi,Ernakulam</h6>
                <h6>Email:<i>libralibrary@gmail.com</i></h6>
                <h6>Phone:<i>+91 9999999999</i></h6>
                <h6>Website:<i>www.libralibrary@gmail.com</i></h6>
            </div>
        </div>
        <p style="text-align:center;font-weight:700">&copy; @DateTime.Now.Year - All right reserved</p>
    </footer>
</body>
</html>